.center {
	text-align: center;
	
}

.center_image {
	display: block;
	margin: auto;
	width: 100%;
    padding-bottom: 5px;
}

#bio {
	color: #ff72e2;
}

body {
	background-color: #191919;
	color: #cecece;
	width: 500px;
	margin: auto;
	font-size: 1.125rem;
}

a:link {
	color: #8e8e8e;
}

a:visited {
	color: #606060;
}

a:hover, a:active {
	color: #fff600;
}